body, html {
   margin: 0;
   font-family: 'Cuprum', Arial, sans-serif;
   background-color: #ffffff;
   font-size: 16px;
   line-height: 18px;
}
a {
   text-decoration: none;
}
img {
   max-width: 100%;
   height: auto;
}
.visually-hidden:not(:focus):not(:active), input[type='checkbox'].visually-hidden, input[type='radio'].visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.logo {
   justify-content: center;
   text-align: center;
   display: flex;
   width: 223px;
   height: 46px;
   background-color: #ee3643;
   border-bottom: 5px solid #b52933;
}
.logo img {
   padding-top: 16px;
   width: 110px;
   height: 18px;
}
.logo:hover, .logo:focus {
   background-color: #ca2c37;
}
.logo:active {
   background-color: #ba2732;
}
.search {
   margin-left: -39px;
   width: 270px;
   display: flex;
   position: relative;
}
input[type='search']::placeholder {
   color: #fff;
   font-size: 17px;
}
.search::after {
   content: '';
   position: absolute;
   top: 12px;
   left: 19px;
   width: 19px;
   height: 20px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/icon-search.svg');
   opacity: 0.4;
}
.search input {
   position: relative;
   border: none;
   width: 270px;
   padding-top: 0px;
   padding-left: 49px;
   color: #fff;
   font-size: 17px;
   font-family: 'Cuprum', Arial, sans-serif;
   background-color: #293449;
   position: relative;
}
.bookmark-item {
   box-sizing: border-box;
   padding-left: 19px;
   position: relative;
}
.bookmark-item::after {
   content: '';
   position: absolute;
   top: 11px;
   left: 19px;
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/icon-bookmark.svg');
   opacity: 0.4;
}
.cart {
   box-sizing: border-box;
   padding-left: 20px;
   position: relative;
   font-family: 'Cuprum', sans-serif;
}
.cart::after {
   content: '';
   position: absolute;
   top: 12px;
   left: 20px;
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/icon-cart.svg');
   opacity: 0.4;
}
.nav {
   background-color: #293449;
}
.nav-main {
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
   height: 43px;
   display: flex;
   align-items: center;
   background-color: #293449;
}
.info-services {
   background-color: #f3f6f8;
   height: 280px;
}
.cart-nav a {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 42px;
   font-family: 'Cuprum', sans-serif;
}
.cart-nav {
   justify-content: center;
   display: flex;
   margin-left: 37px;
   width: 700px;
}
.cart-nav a:hover, .cart-nav a:focus {
   background-color: #212a3a;
}
.nav-main a {
   font-weight: 400;
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
   font-family: 'Cuprum', sans-serif;
}
.info-main {
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
   display: flex;
   flex-wrap: wrap;
   padding-top: 46px;
   margin-bottom: 40px;
   justify-content: space-between;
   align-items: start;
}
.info-main-catalog {
   margin-bottom: 12px;
}
.info-main h1 {
   width: 300px;
   margin: 0;
   box-sizing: border-box;
   padding-top: 2px;
   padding-left: 51px;
   padding-right: 32px;
   font-size: 16px;
   line-height: 23px;
   color: #ee3643;
   font-style: italic;
   font-family: 'Cuprum', sans-serif;
}
.address {
   width: 300px;
}
.address-main {
   margin: 0;
   padding-left: 7px;
   font-size: 14px;
   line-height: 24px;
   color: #32425c;
}
.number-main p {
   position: relative;
   margin: 0;
   padding: 0;
}
.number-main {
   margin: 0;
   padding-left: 11px;
   margin-bottom: 3px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 259px;
   height: 40px;
   font-size: 21px;
   line-height: 21px;
   color: #ee3643;
   border: 3px solid #ffffff;
}
.number-main::before {
   content: '';
   position: absolute;
   left: 12px;
   width: 19px;
   height: 19px;
   background-image: url('../img/icon-phone.svg');
}
.register {
   width: 300px;
   margin: 0;
   display: flex;
   justify-content: space-between;
   padding: 0;
}
.register a {
   color: #000000;
   font-family: 'Cuprum', Arial, sans-serif;
}
.come {
   padding-left: 13px;
   font-family: 'Cuprum', Arial, sans-serif;
}
.register li {
   font-family: 'Cuprum', Arial, sans-serif;
   font-size: 21px;
   line-height: 21px;
   display: flex;
   justify-content: center;
   background-color: #ffffff;
}
.register a:focus, .register a:hover {
   color: red;
}
.register a:active {
   color: #000000;
   opacity: 0.5;
}
.register-item {
   padding: 10px 25px;
}
.register-item a {
   font-family: 'Cuprum', Arial, sans-serif;
}
.come-icon {
   /*   width: 133px;*/
   box-sizing: border-box;
   padding-top: 11px;
   padding: 11px 23px;
   margin-left: 15px;
   padding-left: 6px;
}
.icon-login-1 {
   padding-left: 10px;
}
.name-login {
   display: block;
   width: 300px;
   margin: 0;
   margin-top: 0px;
   margin-bottom: 32px;
}
.name-main {
   font-size: 21px;
   line-height: 21px;
   box-sizing: border-box;
   padding-left: 46px;
   padding-top: 0px;
   margin-top: -3px;
}
.exit-main {
   position: relative;
   width: 300px;
   margin: 0;
   margin-bottom: -1px;
   display: flex;
   justify-content: space-between;
   padding: 15px 0px;
   background-color: #ffffff;
}
.exit-main li {
   padding-right: 12px;
   list-style: none;
}
.exit-main a {
   display: block;
   color: #000000;
}
.exit-main::before {
   content: '';
   position: absolute;
   width: 20px;
   height: 18px;
   top: 15px;
   left: 12px;
   background-image: url('../img/icon-user.svg');
}
.services-main a {
   color: #ffffff;
}
.services-main a:hover, .services-main a:focus {
   background-color: #293449;
}
.services-item-main a {
   display: block;
   padding: 18px 28px 17px;
   font-size: 17px;
   line-height: 17px;
   font-weight: 400;
}
.services-items-main {
   align-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.service-2 {
   padding: 0;
   margin: 0;
   margin-bottom: 17px;
   margin-top: 10px;
   justify-content: space-between;
   display: flex;
}
.services-main {
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   font-size: 17px;
   line-height: 17px;
   background-color: #32425c;
   color: #ffffff;
   border-bottom: 5px solid #293449;
}
.services-main li {
   list-style: none;
   padding: 0px 3px;
}
.service {
   width: 940px;
   margin-top: 55px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
   margin-bottom: 62px;
}
.services-item {
   padding-left: 0;
   margin: 0;
   justify-content: space-between;
   display: flex;
   list-style: none;
}
.services-item-2 {
   padding: 0;
   margin-top: -12px;
   display: block;
   list-style: none;
}
.services-item-2 li {
   width: 300px;
   margin-bottom: -2px;
}
.services-items p {
   font-family: 'Cuprum', Arial, sans-serif;
   margin-left: 22px;
   margin-top: 21px;
   margin-bottom: 23px;
   font-size: 24px;
   font-weight: 400;
   line-height: 30px;
   color: #ffffff;
}
.services-items {
   width: 300px;
   height: 123px;
}
.services-items a {
   margin-left: 21px;
   font-size: 14px;
   line-height: 18px;
   text-transform: uppercase;
   color: #ffffff;
   background: rgba( 0, 0, 0, 0.1);
   padding: 9px 31px;
   border-radius: 3px;
   font-family: 'Cuprum', sans-serif;
}
.services-items a:focus, .services-items a:hover {
   background: rgba( 0, 0, 0, 0.2);
}
.services-items a:active {
   background: rgba( 0, 0, 0, 0.4);
}
.items-1 {
   position: relative;
   background-color: #ffbf47;
}
.items-1 a {
   padding: 10px 26px;
}
.items-1::after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 60px;
   height: 80px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/flag.png');
}
.items-1::before {
   content: '';
   position: absolute;
   top: 31px;
   left: 213px;
   width: 52px;
   height: 80px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/icon-1.svg');
}
.items-2 {
   position: relative;
   background-color: #3bbce3;
}
.items-2 a {
   padding: 10px 28px;
}
.items-2::before {
   content: '';
   position: absolute;
   top: 35px;
   left: 194px;
   width: 76px;
   height: 80px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/icon-2.svg');
}
.items-3 {
   position: relative;
   background-color: #dc91d8;
}
.items-3::before {
   content: '';
   position: absolute;
   top: 31px;
   left: 190px;
   width: 79px;
   height: 80px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/icon-3.svg');
}
.items-4 p {
   margin-bottom: 21px;
   padding-top: 22px;
}
.items-4 {
   position: relative;
   background-color: #8ed78f;
}
.items-4 a {
   padding: 10px 24px;
}
.items-4::before {
   content: '';
   position: absolute;
   top: 30px;
   left: 194px;
   width: 62px;
   height: 80px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/icon-4.svg');
}
.items-5 p {
   padding-top: 22px;
}
.items-5 {
   position: relative;
   background-color: #ffc047;
}
.items-5 a {
   padding: 10px 37px;
}
.items-5::before {
   content: '';
   position: absolute;
   top: 35px;
   left: 194px;
   width: 80px;
   height: 80px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/icon-5.svg');
}
.slider-items {
   list-style: none;
   position: relative;
   width: 620px;
   height: 266px;
}
.slider-items::after {
   position: absolute;
   content: '';
   top: 114px;
   right: 20px;
   width: 21px;
   height: 40px;
   background-image: url(../img/icon-right.svg);
}
.slider-items::before {
   position: absolute;
   content: '';
   top: 114px;
   left: 26px;
   width: 21px;
   height: 40px;
   transform: rotate(-180deg);
   background-image: url(../img/icon-right.svg);
}
.slider-controls label {
   position: absolute;
   display: inline-block;
   width: 18px;
   top: 0;
   height: 18px;
   padding: 8px;
   border-radius: 50%;
   cursor: pointer;
}
.slider-controls label::after {
   content: '';
   position: absolute;
   top: 221px;
   left: 294px;
   z-index: 1;
   width: 10px;
   height: 10px;
   background: #fff;
   border-radius: 50%;
}
.slider-controls label::before {
   content: '';
   position: absolute;
   top: 221px;
   left: 314px;
   z-index: 1;
   width: 10px;
   height: 10px;
   background: #fff;
   border-radius: 50%;
}
.sliders {
   padding-left: 0px;
   margin: 0;
   margin-left: -2px;
   margin-top: 10px;
}
.btn-slider {
   position: absolute;
   display: block;
   padding: 9px 48px;
   top: 208px;
   left: 24px;
   border-radius: 2px;
   background-color: #ee3643;
   color: #ffffff;
   text-transform: uppercase;
   font-family: 'Cuprum', Arial, sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
}
.btn-slider:focus, .btn-slider:hover {
   background-color: #ca2c37;
}
.btn-slider:active {
   background-color: #ba2732;
}
.slider-container {
   top: 25px;
   left: 25px;
   position: absolute;
}
.name-item {
   text-transform: uppercase;
   font-size: 36px;
   margin: 0;
   line-height: 36px;
   color: #ffffff;
   font-family: 'Cuprum', sans-serif;
   font-weight: 700;
}
.description-item {
   margin-top: 2px;
   margin: 0;
   font-size: 18px;
   line-height: 24px;
   color: #ffffff;
}
.btn:hover, .btn:focus {
   background-color: #ca2c37;
}
.btn:focus {
   background-color: #ba2732;
}
.services-item-info {
   margin-bottom: 47px;
}
.btn-item {
   margin-top: 0px;
   margin-left: 372px;
   padding: 10px 55px;
   border: none;
   font: inherit;
   border-radius: 3px;
   text-transform: uppercase;
   background-color: #ee3643;
   color: #ffffff;
   font-size: 14px;
   line-height: 18px;
}
.btn-item:hover, .btn-item:focus {
   background-color: #ca2c37;
}
.btn-item:focus {
   background-color: #ba2732;
}
.btn {
   padding: 6px 25px;
   border: none;
   font: inherit;
   text-transform: uppercase;
   background-color: #ee3643;
   color: #ffffff;
   font-size: 14px;
   line-height: 18px;
}
.popular-item {
   margin-bottom: 23px;
   display: flex;
   align-items: center;
   background-color: #f9f5f0;
}
.popular {
   padding-left: 27px;
   padding-top: 1px;
   font-weight: 400;
   font-size: 30px;
   line-height: 30px;
   color: #32425c;
   text-transform: uppercase;
}
.product-item {
   width: 700px;
   padding: 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.popular-item-2 {
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   background-color: #f9f5f0;
}
.popular-2 {
   margin: 0;
   padding-top: 33px;
   padding-bottom: 30px;
   padding-left: 26px;
   font-weight: 400;
   font-size: 30px;
   line-height: 30px;
   color: #32425c;
   text-transform: uppercase;
}
.btn-item-2 {
   margin-left: 271px;
   padding: 10px 69px;
   border: none;
   font: inherit;
   border-radius: 3px;
   text-transform: uppercase;
   background-color: #ee3643;
   color: #ffffff;
   font-size: 14px;
   line-height: 18px;
}
.btn-item-2:hover, .btn-item2:focus {
   background-color: #ca2c37;
}
.btn-item-2:focus {
   background-color: #ba2732;
}
.brand-item {
   margin-top: 16px;
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
   padding: 0;
   justify-content: space-between;
   flex-wrap: wrap;
   display: flex;
}
.brand-item {
   list-style: none;
}
.brand-items {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 218px;
   height: 144px;
   margin-bottom: 18px;
   border: 1px solid #eaeaea;
}
.brand-items:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.brand-items:active {
   opacity: 0.5;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.services-info-main {
   padding-bottom: 52px;
   width: 400px;
   font-size: 13px;
   line-height: 24px;
   font-family: 'PT Sans', Arial, sans-serif;
}
.service-main {
   background-color: #f4f7f9;
}
.services-info {
   width: 940px;
   position: relative;
   background-color: #f4f7f9;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 51px;
   padding-bottom: 16px;
   padding-left: 10px;
   padding-right: 10px;
}
.delivery-wrapper::before {
   content: '';
   position: absolute;
   top: 44px;
   left: 149px;
   width: 468px;
   height: 261px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/services.png')
}
.services {
   margin: 0;
   padding-top: 68px;
   margin-bottom: 27px;
   font-size: 30px;
   line-height: 30px;
   font-family: 'Cuprum', Arial, sans-serif;
   text-transform: uppercase;
}
.btn-info {
   display: flex;
   font-family: 'Cuprum', Arial, sans-serif;
   font-size: 21px;
   line-height: 30px;
   align-items: flex-start;
   width: 240px;
   padding: 17px 22px;
   color: #ffffff;
   border: none;
   background-color: #32425c;
}
.btn-info:focus, .btn-info:hover {
   background-color: #293449;
}
.credit:focus, .credit:hover {
   background-color: #293449;
}
.delivery-wrapper {
   width: 290px;
   /*   display: none;*/
   position: relative;
   margin-top: -16px;
   display: block;
}
.credit-wrapper {
   width: 290px;
   display: block;
   position: relative;
   margin-top: -16px;
}
.credit-wrapper::after {
   content: '';
   position: absolute;
   width: 465px;
   height: 285px;
   top: 16px;
   left: 171px;
   background-image: url('../img/credit.png');
}
.guarantees-wrapper::after {
   content: '';
   position: absolute;
   width: 389px;
   height: 283px;
   top: 21px;
   left: 171px;
   background-image: url('../img/guarantees.png');
}
.guarantees-wrapper {
   width: 314px;
   position: relative;
   display: block;
   margin-top: -16px;
}
.delivery {
   padding-bottom: 77px;
   width: 610px;
   justify-content: space-between;
   display: flex;
}
.delivery-info {
   text-transform: uppercase;
   margin-bottom: 23px;
   margin-top: 19px;
   font-size: 36px;
   line-height: 36px;
   font-family: 'Cuprum', Arial, sans-serif;
}
.credit-info {
   text-transform: uppercase;
   margin-bottom: 23px;
   margin-top: 19px;
   font-size: 36px;
   line-height: 36px;
   font-family: 'Cuprum', Arial, sans-serif;
}
.guarantees-info {
   text-transform: uppercase;
   margin-bottom: 23px;
   margin-top: 19px;
   font-size: 36px;
   line-height: 36px;
   font-family: 'Cuprum', Arial, sans-serif;
}
.delivery-info-main {
   line-height: 24px;
   font-size: 13px;
   font-family: 'PT Sans', Arial, sans-serif;
}
.guarantees-info-main {
   line-height: 24px;
   font-size: 13px;
   font-family: 'PT Sans', Arial, sans-serif;
}
.credit-info-main {
   line-height: 24px;
   font-size: 13px;
   font-family: 'PT Sans', Arial, sans-serif;
}
.credit-btn {
   width: 117px;
   display: flex;
   padding: 9px 36px;
   color: #ffffff;
   font-size: 14px;
   line-height: 18px;
   border-radius: 3px;
   text-transform: uppercase;
   background-color: #ff5357;
   font-family: 'Cuprum', Arial, sans-serif;
}
.contact {
   width: 940px;
   padding-left: 10px;
   padding-right: 10px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 6px;
   display: flex;
   justify-content: space-between;
}
.company-info {
   margin-bottom: 27px;
   font-size: 30px;
   line-height: 30px;
   text-transform: uppercase;
}
.company-main {
   width: 540px;
   font-size: 13px;
   line-height: 24px;
   margin-bottom: 76px;
}
.company-info-main {
   margin-bottom: 23px;
   font-family: 'PT Sans', sans-serif;
   font-size: 13px;
   line-height: 24px;
}
.aboutus {
   width: 400px;
   margin-bottom: 21px;
   font-family: 'PT Sans', sans-serif;
   font-size: 13px;
   line-height: 24px;
}
.company-item {
   margin-bottom: 36px;
   font-size: 18px;
   line-height: 20px;
   list-style: none;
}
.company-items {
   position: relative;
   margin-bottom: 21px;
   margin-left: -4px;
}
.company-items::before {
   content: '';
   top: 9px;
   left: -38px;
   position: absolute;
   width: 25px;
   height: 2px;
   background: #ee3643;
}
.btn-company {
   width: 157px;
   display: flex;
   padding: 11px 31px;
   justify-content: center;
   border: none;
   border-radius: 3px;
   font: inherit;
   text-transform: uppercase;
   background-color: #ee3643;
   color: #ffffff;
   font-size: 14px;
   line-height: 18px;
}
.btn-company:focus, .btn-company:hover {
   background-color: #ca2c37;
}
.btn-company:active {
   background-color: #ba2732;
}
.contacts-main {
   width: 300px;
   font-size: 13px;
   line-height: 24px;
}
.contacts {
   margin-bottom: 27px;
   font-size: 30px;
   line-height: 30px;
   text-transform: uppercase;
}
.contact-main-info {
   padding-right: 115px;
   margin-bottom: 29px;
   font-size: 13px;
   margin-left: -2px;
   line-height: 24px;
   font-family: 'PT Sans', sans-serif;
}
.map-contact {
   margin-bottom: 34px;
}
.btn-map {
   display: flex;
   width: 180px;
   padding: 10px 59px;
   border: none;
   font: inherit;
   border-radius: 3px;
   text-transform: uppercase;
   background-color: #ee3643;
   color: #ffffff;
   font-size: 14px;
   line-height: 18px;
   font-family: 'Cuprum', sans-serif;
}
.btn-map:focus, .btn-map:hover {
   background-color: #ca2c37;
}
.btn-map:active {
   background-color: #ba2732;
}
.logo-footer img {
   padding-top: 21px;
   width: 138px;
   height: 23px;
}
.logo-footer p {
   width: 328px;
   padding-left: 2px;
   margin-top: 31px;
   font-size: 18px;
   line-height: 24px;
   color: #f3f7f9;
}
.logo-footer-main {
   justify-content: center;
   text-align: center;
   display: flex;
   width: 217px;
   height: 61px;
   background-color: #ee3643;
   border-bottom: 5px solid #b52933;
}
.logo-footer-main:focus, .logo-footer-main:hover {
   background-color: #ca2c37;
}
.container-footer-main-catalog {
   padding-bottom: 30px;
   background-color: #32425c;
}
.container-footer-main {
   padding-bottom: 32px;
   background-color: #32425c;
}
.container-footer {
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
   display: flex;
   background-color: #32425c;
}
.services-footer a:hover, .services-footer a:focus {
   text-decoration: underline;
}
.services-footer a:focus {
   opacity: 0.5;
}
.services-footer a {
   color: #f3f7f9;
}
.services-footer a:active {
   opacity: 0.5;
}
.services-footer {
   display: flex;
   justify-content: space-between;
   font-size: 18px;
   line-height: 24px;
   list-style: none;
   margin-bottom: 33px;
}
.materials-footer a:hover, .materials-footer a:focus {
   text-decoration: underline;
}
.materials-footer a:focus {
   opacity: 0.5;
}
.materials-footer a:active {
   opacity: 0.5;
}
.materials-footer li {
   padding-left: 10px;
}
.materials-footer {
   margin-left: 13px;
   justify-content: space-between;
   font-size: 18px;
   line-height: 24px;
   list-style: none;
   display: flex;
}
.materials-footer a {
   color: #ffd180;
}
.nav-footer {
   width: 590px;
   margin-left: 22px;
   margin-top: 20px;
   font-size: 18px;
   line-height: 24px;
}
.info-footer-main {
   padding-top: 20px;
   padding-bottom: 10px;
   background-color: #293449;
}
.info-footer {
   width: 940px;
   display: flex;
   justify-content: space-between;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
   background-color: #293449;
}
.comp-footer {
   width: 240px;
   font-size: 16px;
   line-height: 18px;
   color: #ffffff;
}
.social {
   justify-content: space-between;
   width: 129px;
   display: flex;
   list-style: none;
}
.social-item {
   justify-content: center;
   border-radius: 23px;
   align-items: center;
   display: flex;
   width: 40px;
   height: 40px;
   background-color: #212a3a;
}
.social-items {
   margin-left: 32px;
   margin-right: -26px;
}
.mail-footer:hover, .mail-footer:focus {
   text-decoration: underline;
}
.mail-footer:focus {
   color: #ee3643;
}
.mail-footer:active {
   color: #ee3643;
   text-decoration: none;
}
.connection {
   margin-left: 59px;
   padding-left: 19px;
   box-sizing: border-box;
   width: 124px;
   font-size: 16px;
   line-height: 18px;
   color: #ffffff;
   font-family: 'Cuprum', sans-serif;
   font-weight: 300;
}
.connection a {
   color: #ffd180;
}
.developed {
   box-sizing: border-box;
   padding-left: 8px;
   width: 120px;
   font-size: 16px;
   line-height: 18px;
   color: #ffffff;
   font-family: 'Cuprum', sans-serif;
   font-weight: 300;
}
.cite-class:hover, .cite-class:focus {
   text-decoration: underline;
}
.cite-class:focus {
   color: #ee3643;
}
.cite-class:active {
   color: #ee3643;
   text-decoration: none;
}
.developed a {
   color: #ffd180;
}
.basket {
   box-sizing: border-box;
   padding-left: 25px;
   font-family: 'Cuprum', sans-serif;
   background-color: #ee3643;
   color: #ffffff;
}
.order {
   background-color: #63a63e;
}
.login a {
   color: #32425c;
   font-family: 'Cuprum', sans-serif;
}
.login a:hover, .login a:focus {
   color: #ee3643;
}
.login {
   margin: 0;
   padding-left: 19px;
   display: flex;
   list-style: none;
   font-size: 16px;
   line-height: 18px;
}
.login li {
   padding-right: 30px;
}
.login a {
   border-bottom: 1px solid #566275;
}
.catalog-main {
   width: 940px;
   padding-left: 10px;
   padding-right: 10px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
}
.catalog-main::before {
   content: '';
   position: absolute;
   left: 8px;
   top: 1px;
   width: 23px;
   height: 23px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/icon-home.svg');
}
.catalog a {
   font-size: 13px;
   line-height: 18px;
   font-weight: 400;
   font-family: 'PT Sans', Arial, sans-serif;
   color: #000000;
}
.catalog li {
   position: relative;
   padding-left: 41px;
}
.catalog li::before {
   content: '';
   position: absolute;
   left: 15px;
   width: 23px;
   height: 23px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/icon-right-small.svg');
}
.catalog {
   margin: 0;
   margin-top: 18px;
   display: flex;
   padding-right: 10px;
   padding-left: 13px;
   text-transform: uppercase;
   font-size: 16px;
   line-height: 18px;
   list-style: none;
}
.perforator-main-info {
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
}
.perforator-main {
   padding-top: 25px;
   padding-bottom: 29px;
   padding-left: 25px;
   font-family: 'Cuprum', Arial, sans-serif;
   font-size: 30px;
   line-height: 30px;
   font-weight: 400;
   color: #32425c;
   background-color: #f2f6f8;
   text-transform: uppercase;
}
.type p {
   padding-left: 11px;
   margin: 0;
   text-transform: uppercase;
   font-family: 'PT Sans', sans-serif;
   font-size: 13px;
   line-height: 18px;
}
.type ul {
   margin: 0;
}
.type {
   padding: 9px;
   width: 685px;
   margin-top: -7px;
   margin-bottom: 23px;
   margin-left: -2px;
   align-items: center;
   display: flex;
   border-radius: 3px;
   background-color: #f7f3ec;
}
.price-item {
   list-style: none;
   display: flex;
   padding-left: 91px;
}
.price-item li {
   padding-right: 21px;
   padding-left: 47px;
   opacity: 0.5;
}
.price-item li:focus, .price-item li:hover {
   opacity: 1;
   color: #000000;
}
.price-item a {
   text-transform: uppercase;
   font-size: 13px;
   line-height: 18px;
   font-family: 'PT Sans', Arial, sans-serif;
   font-weight: 400;
   color: #000000;
   opacity: 0.4;
   border-bottom: 1px dotted #ee3643;
}
.icon-items {
   padding: 0;
   display: flex;
}
.icon-items li {
   list-style: none;
   padding-left: 24px;
   opacity: 0.4;
}
.icon-items li:focus, .icon-items li:hover {
   opacity: 1;
}
.items-main {
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 46px;
   padding-left: 10px;
   padding-right: 10px;
   display: flex;
   justify-content: space-between;
}
.product-main {
   width: 700px;
}
.nutrition-filter {
   margin-bottom: 12px;
}
.price-filter {
   margin-bottom: 17px;
}
.filter-option {
   margin-bottom: 20px;
   padding-left: 21px;
}
.filter-item li {
   margin-bottom: 15px;
}
.filter ul {
   padding: 0;
   margin-left: 13px;
}
.filter-form {
   display: flex;
   align-items: center;
   min-height: 38px;
   margin-top: 5px;
   margin-bottom: 14px;
   padding-left: 19px;
   text-transform: uppercase;
   font-size: 13px;
   line-height: 18px;
   background-color: #f7f3ec;
   border-radius: 3px;
   font-family: 'PT Sans', sans-serif;
}
.filters-form {
   margin-top: -11px;
   width: 220px;
}
.filters-form legend {
   text-transform: uppercase;
   font-family: 'PT Sans', Arial, sans-serif;
   font-weight: bold;
   font-size: 17px;
   line-height: 30px;
}
.filter fieldset {
   padding: 0;
   margin: 0;
   margin-bottom: 20px;
   border: none;
}
.filter fieldset:first-child {
   margin-bottom: 47px;
}
.filter label {
   position: relative;
   display: block;
   cursor: pointer;
   user-select: none;
}
.filter-input-checkbox+label::before {
   content: '';
   position: absolute;
   left: -35px;
   top: -3px;
   width: 23px;
   height: 23px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/checkbox-off.svg');
}
.filter-input-checkbox:checked+label::after {
   content: '';
   position: absolute;
   left: -35px;
   top: -3px;
   width: 27px;
   height: 27px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/checkbox-on.svg');
}
.filter-option:hover, .filter-option:focus {
   opacity: 0.5;
}
.filter-input-radio+label::before {
   content: '';
   position: absolute;
   left: -35px;
   top: -3px;
   width: 27px;
   height: 27px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/radio-off.svg');
}
.filter-input-radio:checked+label::before {
   background: url('../img/radio-on.svg') no-repeat;
}
.filters-form label {
   font-family: 'PT Sans', Arial, sans-serif;
   font-size: 15px;
   line-height: 20px;
}
.filters-form li {
   margin-bottom: 20px;
   list-style: none;
   line-height: 20px;
   text-transform: uppercase;
}
.btn-filter {
   margin-top: 39px;
   border-radius: 3px;
   padding: 8px 37px;
   border: 2px solid #e5e5e5;
   font-size: 13px;
   line-height: 18px;
   background-color: #ffffff;
   text-transform: uppercase;
   font-family: 'PT Sans', Arial, sans-serif;
}
.pages {
   width: 285px;
   padding: 0;
   display: flex;
   justify-content: space-between;
   font-size: 13px;
   list-style: none;
   line-height: 18px;
}
.pages-items {
   font-size: 13px;
   line-height: 18px;
   font-weight: 400;
   text-transform: uppercase;
   padding: 10px 15px;
   border-radius: 3px;
   border: 1px solid #e5e5e5;
   color: #000000;
}
.pages-items a {
   color: #000000;
   font-size: 13px;
   line-height: 18px;
   font-family: 'PT Sans', sans-serif;
}
.pages-items:focus, .pages-items:hover {
   border: 1px solid #ee3643;
   color: #000000;
}
.page {
   padding: 9px 33px;
}
.information-info {
   padding-bottom: 65px;
   margin: 0;
   font-size: 13px;
   line-height: 24px;
   font-family: 'PT Sans', Arial, sans-serif;
}
.information {
   margin: 0;
   padding-top: 66px;
   margin-bottom: 26px;
   font-size: 30px;
   line-height: 30px;
   font-family: 'Cuprum', sans-serif;
   font-size: 30px;
   line-height: 30px;
}
.information-info-main {
   width: 100%;
   background-color: #f2f6f8;
}
.information-main {
   width: 940px;
   margin-bottom: 3px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 13px;
   line-height: 24px;
   background-color: #f2f6f8;
}
.modal {
   position: absolute;
}
.modal-login {
   display: none;
   border-top: 7px solid #ee3643;
   top: 2520px;
   left: 50%;
   margin-left: -311px;
   width: 460px;
   height: 363px;
   background-color: #ffffff;
   padding: 30px 80px;
   font-size: 18px;
   line-height: 18px;
   box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
}
.you-name {
   display: flex;
   width: 187px;
   margin-top: 7px;
   border: 2px solid #a9a9a9;
   padding: 10px 14px;
}
.text-modal {
   width: 200px;
   display: block;
}
.you-name::placeholder {
   line-height: 18px;
   font-size: 13px;
   font-family: 'PT Sans', sans-serif;
}
.you-mail::placeholder {
   line-height: 18px;
   font-size: 13px;
   font-family: 'PT Sans', sans-serif;
}
.you-mail {
   display: flex;
   width: 189px;
   margin-top: 7px;
   border: 2px solid #a9a9a9;
   padding: 10px 13px;
}
.you-text {
   margin-bottom: 76px;
   margin-top: 10px;
   display: flex;
   height: 94px;
   width: 424px;
   padding: 8px 17px;
   line-height: 18px;
   font-size: 13px;
   color: #a9a9a9;
   font-family: 'PT Sans', sans-serif;
}
.text-modal {
   margin: 0;
   margin-top: 5px;
}
.mail-modal {
   margin-left: 22px;
}
.info-modal {
   display: flex;
   margin: 0;
   padding: 0;
   justify-content: space-between;
}
.modal-close {
   position: absolute;
   top: 9px;
   right: 11px;
   width: 22px;
   height: 22px;
   background-color: transparent;
   font-size: 0;
   border: 0;
   cursor: pointer;
}
.modal-close::before, .modal-close::after {
   content: '';
   position: absolute;
   top: 10px;
   left: 0px;
   width: 28px;
   height: 3px;
   background-color: #ee3643;
}
.modal-close::before {
   transform: rotate(45deg);
}
.modal-close::after {
   transform: rotate(-45deg);
}
.btn-modal {
   width: 460px;
   justify-content: center;
   font-family: 'Cuprum', Arial, sans-serif;
   font-size: 14px;
   border: none;
   display: flex;
   text-transform: uppercase;
   padding: 9px 0px;
   line-height: 18px;
   font-weight: 300;
   color: #ffffff;
   background-color: #ee3643;
   border-radius: 3px;
}
.modal-map {
   display: none;
   position: absolute;
   top: 2500px;
   left: 250px;
}
.modal-close-map {
   position: absolute;
   top: 16px;
   right: -17px;
   width: 22px;
   height: 22px;
   background-color: transparent;
   font-size: 0;
   border: 0;
   cursor: pointer;
}
.modal-close-map::before, .modal-close-map::after {
   content: '';
   position: absolute;
   top: 10px;
   left: 0px;
   width: 30px;
   height: 3px;
   background-color: #ee3643;
}
.modal-close-map::before {
   transform: rotate(45deg);
}
.modal-close-map::after {
   transform: rotate(-45deg);
}
.modal-basket {
   display: none;
   top: 413px;
   left: 50%;
   margin-left: -313px;
   width: 456px;
   min-height: 231px;
   background-color: #ffffff;
   padding: 22px 82px;
   font-size: 18px;
   line-height: 18px;
   border-top: 5px solid #ee3643;
   box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
}
.orders-modal {
   display: flex;
}
.modal-basket p {
   position: relative;
   padding-top: 13px;
   padding-left: 101px;
   margin-bottom: 106px;
   font-size: 30px;
   line-height: 30px;
   font-family: 'Cuprum', sans-serif;
}
.modal-basket p::before {
   position: absolute;
   content: '';
   top: -3px;
   left: 0px;
   width: 66px;
   height: 66px;
   background-image: url('../img/icon-mark.svg');
}
.btn-order-modal {
   display: flex;
   padding: 9px 59px;
}
.btn-basket {
   margin-left: 25px;
   padding: 9px 42px;
   color: #000000;
   font-size: 14px;
   line-height: 18px;
   border: none;
   background-color: #ffffff;
   text-transform: uppercase;
   font-family: 'Cuprum', sans-serif;
}
.catalog-items-catalog {
   width: 700px;
   flex-wrap: wrap;
   display: flex;
   justify-content: space-between;
   margin-bottom: 33px;
}
.catalog-items {
   width: 940px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: -1px;
   padding-left: 10px;
   padding-right: 10px;
   display: flex;
   justify-content: space-between;
}
.catalog-items .row {
   margin-left: -20px;
}
.catalog-item {
   position: relative;
   display: inline-block;
   width: 218px;
   margin-left: -10px;
   margin-right: 12px;
   margin-bottom: 20px;
   line-height: 20px;
   font-weight: bold;
   text-align: center;
   border: 1px solid #ccc;
}
.catalog-item-catalog {
   position: relative;
   display: inline-block;
   width: 218px;
   margin-left: -1px;
   margin-right: 2px;
   margin-bottom: 20px;
   line-height: 20px;
   font-weight: bold;
   text-align: center;
   border: 1px solid #ccc;
}
.catalog-items {
   font-size: 0;
}
.catalog-item {
   font-size: 16px;
}
.catalog-item:focus, .catalog-item:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.catalog-item-catalog:focus, .catalog-item-catalog:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.catalog-item-catalog {
   font-size: 16px;
}
.catalog-item-catalog .flag {
   position: absolute;
   top: -1px;
   right: -1px;
   width: 60px;
   height: 59px;
   text-indent: -1000px;
   overflow: hidden;
   z-index: 20;
}
.catalog-item .flag {
   position: absolute;
   top: -1px;
   right: -1px;
   width: 60px;
   height: 59px;
   text-indent: -1000px;
   overflow: hidden;
   z-index: 20;
}
.new-item {
   position: relative;
}
.new-item::after {
   content: '';
   position: absolute;
   width: 60px;
   height: 59px;
   top: -1px;
   left: 158px;
   z-index: 10;
   background: url('../img/flag.png') no-repeat;
}
.catalog-item-catalog .actions {
   position: absolute;
   top: 0;
   left: 0;
   width: 218px;
   height: 88px;
   padding: 40px 0;
   background-color: rgba(255, 255, 255, 0.9);
   z-index: 10;
}
.catalog-item .actions {
   position: absolute;
   top: 0;
   left: 0;
   width: 218px;
   height: 88px;
   padding: 40px 0;
   background-color: rgba(255, 255, 255, 0.9);
   z-index: 10;
}
.catalog-item-catalog .actions {
   position: absolute;
   top: 0;
   left: 0;
   width: 218px;
   height: 88px;
   padding: 40px 0;
   background-color: rgba(255, 255, 255, 0.9);
   z-index: 10;
}
.buy {
   position: relative;
   display: block;
   width: 129px;
   margin: 0 auto;
   margin-bottom: 7px;
   padding: 7px 0;
   background-color: #63a63e;
   border: 3px solid #63a63e;
   border-bottom-color: #63a63e;
   border-radius: 3px;
   color: #ffffff;
   font-size: 14px;
   font-weight: normal;
   font-family: 'Cuprum', Arial, sans-serif;
   line-height: 18px;
   text-decoration: none;
   text-transform: uppercase;
}
.buy::before {
   content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   top: 7px;
   left: 11px;
   opacity: 0.5;
   background-image: url('../img/icon-cart.svg');
}
.buy:hover::before {
   content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   top: 7px;
   left: 11px;
   opacity: 1;
   background-image: url('../img/icon-cart.svg');
}
.buy:focus, .buy:hover {
   background-color: #5fbb2d;
}
.bookmark {
   display: block;
   width: 129px;
   margin: 0 auto;
   margin-bottom: 7px;
   padding: 7px 0;
   background-color: #63a63e;
   border: 3px solid #63a63e;
   border-bottom-color: #367315;
   border-radius: 3px;
   color: #ffffff;
   font-size: 14px;
   font-weight: normal;
   font-family: 'Cuprum', Arial, sans-serif;
   line-height: 18px;
   text-decoration: none;
   text-transform: uppercase;
}
.bookmark:focus, .bookmark:hover {
   border-color: #32425c;
}
.bookmark {
   color: #32425c;
   background: #ffffff;
   border-bottom-color: #63a63e;
}
.catalog-item .actions {
   display: none;
}
.catalog-item-catalog .actions {
   display: none;
}
.catalog-item:hover .actions {
   display: block;
}
.catalog-item-catalog:hover .actions {
   display: block;
}
.catalog-item .actions {
   display: none;
}
.catalog-item-catalog .actions {
   display: none;
}
.catalog-item .image {
   width: 218px;
   height: 168px;
}
.catalog-item-catalog .image {
   width: 218px;
   height: 168px;
}
.catalog-item .image img {
   max-width: 100%;
}
.catalog-item-catalog .image img {
   max-width: 100%;
}
.catalog-item .title {
   min-height: 40px;
   padding: 0 28px;
   margin-top: 10px;
   margin-bottom: 11px;
   font-weight: 700;
}
.catalog-item-catalog .title {
   min-height: 40px;
   padding: 0 28px;
   margin-top: 10px;
   margin-bottom: 11px;
   font-weight: 700;
}
.title {
   line-height: 20px;
   font-size: 18px;
   font-weight: bold;
   font-family: 'PT Sans', sans-serif;
}
.catalog-item .discount {
   min-height: 20px;
   margin-top: 12px;
   margin-bottom: 13px;
   color: #999;
   text-decoration: line-through;
}
.catalog-item-catalog .discount {
   min-height: 20px;
   margin-top: 12px;
   margin-bottom: 13px;
   color: #999;
   text-decoration: line-through;
}
.catalog-item .price {
   position: relative;
   width: 80px;
   /*   margin: 10px auto;*/
   margin-top: -6px;
   margin-left: 41px;
   margin-bottom: 18px;
   padding: 10px 30px;
   font-weight: bold;
   font-family: 'PT Sans', Arial, sans-serif;
   color: #ffffff;
   background: #ee3643;
   border-radius: 3px;
}
.catalog-item-catalog .price {
   position: relative;
   width: 80px;
   /*   margin: 10px auto;*/
   margin-top: -6px;
   margin-left: 41px;
   margin-bottom: 18px;
   padding: 10px 30px;
   font-weight: bold;
   font-family: 'PT Sans', Arial, sans-serif;
   color: #ffffff;
   background: #ee3643;
   border-radius: 3px;
}
.catalog-item .price:after {
   content: '';
   position: absolute;
   top: 0;
   right: -20px;
   width: 0;
   height: 0;
   border: 20px solid #ffffff;
   border-left-color: #ee3643;
}
.catalog-item-catalog .price:after {
   content: '';
   position: absolute;
   top: 0;
   right: -20px;
   width: 0;
   height: 0;
   border: 20px solid #ffffff;
   border-left-color: #ee3643;
}
.filter-item {
   margin: 0;
   padding: 0;
   border: none;
}
.range-filter {
   width: 221px;
   margin-left: -5px;
}
.manufacturers-filter {
   margin-bottom: 14px;
}
.filter-item legend {
   margin-left: -2px;
   font-size: 18px;
   line-height: 24px;
   text-transform: uppercase;
   font-weight: 700;
   font-family: 'PT Sans', sans-serif;
}
.range-controls {
   position: relative;
   height: 41px;
   margin-bottom: 10px;
   padding-top: 39px;
   padding-right: 20px;
   padding-left: 20px;
   background-color: #f7f3ec;
   border-radius: 5px;
}
.range-controls .scale {
   height: 2px;
   background: #d7dcde;
}
.range-controls .bar {
   width: 70%;
   height: 2px;
   background: #00ca74;
}
.bar {
   margin-left: 7%;
   width: 70%
}
.range-controls .toggle {
   position: absolute;
   top: 31px;
   left: 0;
   width: 4px;
   height: 4px;
   padding: 0;
   border: 8px solid #ffffff;
   background-color: #ababab;
   box-shadow: 0 2px 1px 0 #cfcfcf;
   border-radius: 50%;
   cursor: pointer;
}
.range-controls .toggle-min {
   left: 24px;
}
.range-controls .toggle-max {
   left: 163px;
}
.price-controls {
   margin-left: -9px;
   font-size: 0;
}
.price-controls label {
   display: inline-block;
   width: 50%;
   font-size: 16px;
   text-transform: uppercase;
}
.price-controls input {
   width: 67px;
   padding: 8px 13px;
   margin-left: 16px;
   font-family: 'Cuprum', Arial, sans-serif;
   font-size: 16px;
   text-align: center;
   color: #283136;
   border: none;
   border-radius: 5px;
   background: #f7f3ec;
}
.max-price {
   text-align: right;
}